<!DOCTYPE html>
<html ng-app="toDo">
  <head>
    <meta charset="utf-8">
    <title>Mondo To Do App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Indie+Flower' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
    <link rel="stylesheet" href="./to-do-style.css" />
  </head>

  <body ng-controller="ToDoController">

    <div class="header-box box">
      <h1><i class="fa fa-tasks" aria-hidden="true"></i> To Do List</h1>
      <div>
        <h3>Tasks to Complete : {{count}}</h3>
      </div>
    </div>

    <!-- show the search box if are more than one tasks on the list -->
    <div ng-show="count !== 0"class="search-box">
      <input type="search" placeholder="Search Tasks" ng-model="searchText">
    </div>

    <div class="search-box">
      <input id="task-entry" ng-model="task" placeholder="Add A New Task"/>
      <button ng-show="task" class="btn btn-primary" ng-click="addTask(task)">Add Task</button>
    </div>

    <div class="task-box">
      <!-- List of tasks -->
      <ul>
        <li class="task-in-list" ng-repeat="task in tasks | filter: searchText ">
          <p >
            {{task}} <i class="fa fa-times delete-task" aria-hidden="true" ng-click="removeTask(task)"></i>
          </p>
        </li>
      </ul>
    </div>

    <div ng-show="count !== 0" class="remove-all">
      <button  class="btn btn-danger" ng-click="removeAllTasks()">Remove All Tasks</button>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="./angular.js"></script>

  </body>

</html>
